<%- include('../partials/courses/head.ejs') %>
<body>

<div class="flog">
    <div class="log">
        <div class="add_box">
            <span class="borderLine"></span>
            <form >
                <h2>Add Notes</h2>

                <div class="field-row">
                    <div class="field-col">
                        <div class="inputBox">
                            <input type="text" required="required">
                            <span>Course</span>
                            <i></i>
                        </div>
                    </div>

                    <div class="field-col">
                        <div class="inputBox">
                            <input type="text" required="required">
                            <span>Semester</span>
                            <i></i>
                        </div>
                    </div>

                    <div class="field-col">
                        <div class="inputBox">
                            <input type="text" required="required">
                            <span>Subject</span>
                            <i></i>
                        </div>
                    </div>

                    <div class="field-col ">
                        <div class="inputBox">
                            <input type="file" class="file" >
                        </div>
                    </div>
                </div>
                <button class="add_button" type="submit">ADD</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>