<%- include('../partials/courses/head.ejs') %>
<body>

<div class="flog">
    <div class="log">
        <div class="add_box">
            <span class="borderLine"></span>
            <form method="post" enctype="multipart/form-data" action="/admin/add-notes" >
                <h2>Add Notes</h2>

                <div class="field-row">
                    <div class="field-col">
                        <div class="inputBox">
                            <input  name="course" type="text" required="required">
                                <!-- <option value="btech-CSE">BTECH computer science and Engineering</option> -->
                            </select>
                            <span>Course</span>
                            <i></i>
                        </div>
                    </div>

                    <div class="field-col">
                        <div class="inputBox">
                            <input name="semester" type="text" required="required">
                            <span>Semester</span>
                            <i></i>
                        </div>
                    </div>

                    <div class="field-col">
                        <div class="inputBox">
                            <input name="subject" type="text" required="required">
                            <span>Subject</span>
                            <i></i>
                        </div>
                    </div>

                    <div class="field-col ">
                        <div class="inputBox">
                            <input name="file" type="file" class="file" >
                        </div>
                    </div>
                </div>
                <button class="add_button" type="submit">ADD</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>