<%- include('../partials/courses/head.ejs') %>

<body>

  <%- include('../partials/nav.ejs') %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Course Details</h2>
        <p>Here you will find the study material of the B.TECH CSE course </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <a href="/course/Btech-CSE/sem1">
              <h3>CSE study material of first year(first semester)</h3>
              <p>
                links for study material will be added there
              </p>

            </a>
          </div>

          <div class="col-lg-8">
            <h3>CSE study material of first year(second semester)</h3>
            <p>
              links for study material will be added there
            </p>
          </div>

          <div class="col-lg-8">
            <h3>CSE study material of second year(third semester)</h3>
            <p>
              links for study material will be added there
            </p>
          </div>

          <div class="col-lg-8">
            <h3>CSE study material of second year(fourth semester)</h3>
            <p>
              links for study material will be added there
            </p>
          </div>

          <div class="col-lg-8">
            <h3>CSE study material of third year(fifth semester)</h3>
            <p>
              links for study material will be added there
            </p>
          </div>

          <div class="col-lg-8">
            <h3>CSE study material of third year(sixth semester)</h3>
            <p>
              links for study material will be added there
            </p>
          </div>

          <div class="col-lg-8">
            <h3>CSE study material of fourth year(seventh semester)</h3>
            <p>
              links for study material will be added there
            </p>
          </div>

          <div class="col-lg-8">
            <h3>CSE study material of fourth year(eighth semester)</h3>
            <p>
              links for study material will be added there
            </p>
          </div>
          
        </div>

      </div>
    </section><!-- End Cource Details Section -->

   
    
  </main><!-- End #main -->

  <%- include('../partials/courses/end.ejs') %>
