<%- include('../../partials/courses/head.ejs') %>
<body>

  <%- include('../../partials/nav.ejs') %>

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Courses</h2>
        <p>Welcome to the Spectra course page! Here you'll find everything you need to succeed in this course, including textbooks, practice exams, and more.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <a  href="sem1/Applied physics"><img src="/assets/img/Physics-1.png" class="img-fluid" alt="..."></a>
              <div class="course-content">
               
                <h3><a href="sem1/Applied physics">Semester-1 </a></h3>
                <p>BTCSE 101  Applied Physics – I</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <a href="sem1/mathematics"><img src="/assets/img/Math-1.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                

                <h3><a href="sem1/mathematics">Semester-1</a></h3>
                <p>BTCSE 102 Mathematics – I </p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href=""><img src="/assets/img/Electrical-1.png" class="img-fluid" alt="..."></a> 
              <div class="course-content">
                
                <h3><a href="">Semester-1</a></h3>
                <p>BTCSE 103 Basic Electrical Engineering</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href=""><img src="/assets/img/Design-1.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="">Semester-1</a></h3>
                <p>BTCSE 104 Engineering Graphics & Design</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href=""><img src="/assets/img/Phy_lab-1.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="">Semester-1</a></h3>
                <p>BTCSE 105 Applied Physics - 1 Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href=""><img src="/assets/img/Electrical_lab.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="">Semester-1</a></h3>
                <p>BTCSE 106 Basic Electrical Engineering Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href=""><img src="/assets/img/Design_labpic.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="">Semester-1</a></h3>
                <p>BTCSE 107 Engineering Graphics & Design Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href=""><img src="/assets/img/trad.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="">Semester-1</a></h3>
                <p>BTCSE 108 Essence of Indian Traditional  knowledge</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Courses Section -->
    
  </main><!-- End #main -->

  <%- include('../../partials/courses/end.ejs') %>