<%- include('../../partials/head.ejs') %>
<body>

  <%- include('../../partials/nav.ejs') %>



  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Courses</h2>
        <p>Welcome to the Spectra course page! Here you'll find everything you need to succeed in this course, including textbooks, practice exams, and more.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <a href="sem2/Applied Physics – II"><img src="/assets/img/Physics-1.png" class="img-fluid" alt="..."></a>
              <div class="course-content">
               
                <h3><a href="sem2/Applied Physics – II">Semester-2 </a></h3>
                <p>BTCSE 201  Applied Physics – II </p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <a href="sem2/Mathematics – II"><img src="/assets/img/Math-1.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                

                <h3><a href="sem2/Mathematics – II">Semester-2</a></h3>
                <p>BTCSE 202 Mathematics – II  </p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem2/Programming for Problem Solving"><img src="/assets/img/Programming.jpg" class="img-fluid" alt="..."></a> 
              <div class="course-content">
                
                <h3><a href="sem2/Programming for Problem Solving">Semester-2</a></h3>
                <p>BTCSE 203 Programming for Problem Solving</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem2/Workshop /Manufacturing Practices"><img src="/assets/img/workshop.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem2/Workshop /Manufacturing Practices">Semester-2</a></h3>
                <p>BTCSE 204 Workshop /Manufacturing Practices</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem2/English Language"><img src="/assets/img/english.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem2/English Language">Semester-2</a></h3>
                <p>BTCSE 205 English Language</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem2/Applied Physics – II Lab"><img src="/assets/img/Phy_lab-1.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem2/Applied Physics – II Lab">Semester-2</a></h3>
                <p>BTCSE 206 Applied Physics – II Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem2/Programming for Problem Solving Lab"><img src="/assets/img/programming.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem2/Programming for Problem Solving Lab">Semester-2</a></h3>
                <p>BTCSE 207 Programming for Problem Solving Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem2/Workshop /Manufacturing Practices Lab"><img src="/assets/img/workshop.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem2/Workshop /Manufacturing Practices Lab">Semester-2</a></h3>
                <p>BTCSE 208 Workshop /Manufacturing Practices Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem2/English Language Lab"><img src="/assets/img/english.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem2/English Language Lab">Semester-2</a></h3>
                <p>BTCSE 209 English Language Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem2/Basic Engineering Mechanics"><img src="/assets/img/mech.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem2/Basic Engineering Mechanics">Semester-2</a></h3>
                <p>BTCSE 210 Basic Engineering Mechanics</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem2/Environmental Sciences"><img src="/assets/img/environmental.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem2/Environmental Sciences">Semester-2</a></h3>
                <p>BTCSE 211 Environmental Sciences</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Courses Section -->
    
  </main><!-- End #main -->
  <%- include('../../partials/end.ejs') %>