<%- include('../../partials/courses/head.ejs') %>
<body>

  <%- include('../../partials/nav.ejs') %>
  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Courses</h2>
        <p>Welcome to the Spectra course page! Here you'll find everything you need to succeed in this course, including textbooks, practice exams, and more.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <a href="sem3/Analog Electronic Circuits"><img src="/assets/img/analog.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
               
                <h3><a href="sem3/Analog Electronic Circuits">Semester-3 </a></h3>
                <p>BTCSE 301  Analog Electronic Circuits</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <a href="sem3/Chemistry"><img src="/assets/img/chem.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                <h3><a href="sem3/Chemistry">Semester-3</a></h3>
                <p>BTCSE 302 Chemistry </p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem3/Data structure & Algorithms"><img src="/assets/img/dsa.jpg" class="img-fluid" alt="..."></a> 
              <div class="course-content">
                <h3><a href="sem3/Data structure & Algorithms">Semester-3</a></h3>
                <p>BTCSE 303 Data structure & Algorithms</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem3/Digital Electronics"><img src="/assets/img/digital.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem3/Digital Electronics">Semester-3</a></h3>
                <p>BTCSE 304 Digital Electronics</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem3/IT Workshop (Sci Lab/MATLAB)"><img src="/assets/img/scilab.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem3/IT Workshop (Sci Lab/MATLAB)">Semester-3</a></h3>
                <p>BTCSE 305 IT Workshop (Sci Lab/MATLAB)</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem3/Humanities-I (Effective Technical Communication)"><img src="/assets/img/communication.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem3/Humanities-I (Effective Technical Communication)">Semester-3</a></h3>
                <p>BTCSE 306 Humanities-I (Effective Technical Communication)</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem3/Analog Electronic Circuits Lab"><img src="/assets/img/analog.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem3/Analog Electronic Circuits Lab">Semester-3</a></h3>
                <p>BTCSE 307 Analog Electronic Circuits Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem3/Data structure & Algorithms Lab"><img src="/assets/img/dsa.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem3/Data structure & Algorithms Lab">Semester-3</a></h3>
                <p>BTCSE 308 Data structure & Algorithms Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem3/Digital Electronics Lab"><img src="/assets/img/digital.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem3/Digital Electronics Lab">Semester-3</a></h3>
                <p>BTCSE 309 Digital Electronics Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem3/IT Workshop (Sci Lab/MATLAB) Lab"><img src="/assets/img/scilab.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem3/IT Workshop (Sci Lab/MATLAB) Lab">Semester-3</a></h3>
                <p>BTCSE 310 IT Workshop (Sci Lab/MATLAB) Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem3/Mathematics III"><img src="/assets/img/Math-1.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem3/Mathematics III">Semester-3</a></h3>
                <p>BTCSE 311 Mathematics III</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Courses Section -->
    
  </main><!-- End #main -->
  <%- include('../../partials/courses/end.ejs') %>