<%- include('../../partials/head.ejs') %>
<body>

  <%- include('../../partials/nav.ejs') %>
  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Courses</h2>
        <p>Welcome to the Spectra course page! Here you'll find everything you need to succeed in this course, including textbooks, practice exams, and more.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <a href="sem4/Discrete Mathematics"><img src="/assets/img/Math-1.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
               
                <h3><a href="sem4/Discrete Mathematics">Semester-4 </a></h3>
                <p>BTCSE 401  Discrete Mathematics</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <a href="sem4/Computer Organization and Architecture"><img src="/assets/img/coa.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                <h3><a href="sem4/Computer Organization and Architecture">Semester-4</a></h3>
                <p>BTCSE 402 Computer Organization and Architecture </p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem4/Operating Systems"><img src="/assets/img/os.jpg" class="img-fluid" alt="..."></a> 
              <div class="course-content">
                <h3><a href="sem4/Operating Systems">Semester-4</a></h3>
                <p>BTCSE 403 Operating Systems</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem4/Design and Analysis of Algorithms"><img src="/assets/img/dsa.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem4/Design and Analysis of Algorithms">Semester-4</a></h3>
                <p>BTCSE 404 Design and Analysis of Algorithms</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem4/Organizational Behaviour"><img src="/assets/img/ob.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem4/Organizational Behaviour">Semester-4</a></h3>
                <p>BTCSE 405 Organizational Behaviour</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem4/Computer Organization and Architecture Lab"><img src="/assets/img/coa.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem4/Computer Organization and Architecture Lab">Semester-4</a></h3>
                <p>BTCSE 406 Computer Organization and Architecture Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem4/Operating Systems Lab"><img src="/assets/img/os.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem4/Operating Systems Lab">Semester-4</a></h3>
                <p>BTCSE 407 Operating Systems Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem4/Design and Analysis of Algorithms Lab"><img src="/assets/img/dsa.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem4/Design and Analysis of Algorithms Lab">Semester-4</a></h3>
                <p>BTCSE 408 Design and Analysis of Algorithms Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem4/Disaster Management"><img src="/assets/img/disaster.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem4/Disaster Management">Semester-4</a></h3>
                <p>BTCSE 409 Disaster Management</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Courses Section -->
    
  </main><!-- End #main -->
  <%- include('../../partials/end.ejs') %>