<%- include('../../partials/head.ejs') %>
<body>

  <%- include('../../partials/nav.ejs') %>
  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Courses</h2>
        <p>Welcome to the Spectra course page! Here you'll find everything you need to succeed in this course, including textbooks, practice exams, and more.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <a href="sem5/Signals & Systems"><img src="/assets/img/s_s.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
               
                <h3><a href="sem5/Signals & Systems">Semester-5</a></h3>
                <p>BTCSE 501 Signals & Systems</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <a href="sem5/Database Management Systems"><img src="/assets/img/dbms.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                <h3><a href="sem5/Database Management Systems">Semester-5</a></h3>
                <p>BTCSE 502 Database Management Systems </p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem5/Formal Language & Automata Theory"><img src="/assets/img/toa.jpg" class="img-fluid" alt="..."></a> 
              <div class="course-content">
                <h3><a href="sem5/Formal Language & Automata Theory">Semester-5</a></h3>
                <p>BTCSE 503 Formal Language & Automata Theory</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem5/Object Oriented Programming"><img src="/assets/img/oop.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem5/Object Oriented Programming">Semester-5</a></h3>
                <p>BTCSE 504 Object Oriented Programming</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem5/Humanities II (Pro-fessional Practice, Law & Ethics)"><img src="/assets/img/communication.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem5/Humanities II (Pro-fessional Practice, Law & Ethics)">Semester-5</a></h3>
                <p>BTCSE 505 Humanities II (Pro-fessional Practice, Law & Ethics) </p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem5/Departmental Elective –I"><img src="/assets/img/ml.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem5/Departmental Elective –I">Semester-5</a></h3>
                <p>BTCSE 506 Departmental Elective –I <br> (Macine Learning)</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem5/Database Management Systems Lab"><img src="/assets/img/dbms.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem5/Database Management Systems Lab">Semester-5</a></h3>
                <p>BTCSE 507 Database Management Systems Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem5/Object Oriented Programming Lab"><img src="/assets/img/oop.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem5/Object Oriented Programming Lab">Semester-5</a></h3>
                <p>BTCSE 508 Object Oriented Programming Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem5/Constitution of India"><img src="/assets/img/coi.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem5/Constitution of India">Semester-5</a></h3>
                <p>BTCSE 509 Constitution of India</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Courses Section -->
    
  </main><!-- End #main -->
  <%- include('../../partials/end.ejs') %>