<%- include('../../partials/courses/head.ejs') %>
<body>

  <%- include('../../partials/nav.ejs') %>
  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Courses</h2>
        <p>Welcome to the Spectra course page! Here you'll find everything you need to succeed in this course, including textbooks, practice exams, and more.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <a href="sem6/Project – I"><img src="/assets/img/project.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
               
                <h3><a href="sem6/Project – I">Semester-6</a></h3>
                <p>BTCSE 601 Project – I</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <a href="sem6/Compiler Design"><img src="/assets/img/compiler.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                <h3><a href="sem6/Compiler Design">Semester-6</a></h3>
                <p>BTCSE 602 Compiler Design </p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem6/Computer Networks"><img src="/assets/img/cn.jpg" class="img-fluid" alt="..."></a> 
              <div class="course-content">
                <h3><a href="sem6/Computer Networks">Semester-6</a></h3>
                <p>BTCSE 603 Computer Networks</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem6/Compiler Design Lab"><img src="/assets/img/compiler.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem6/Compiler Design Lab">Semester-6</a></h3>
                <p>BTCSE 604 Compiler Design Lab</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem6/Computer Networks Lab"><img src="/assets/img/cn.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem6/Computer Networks Lab">Semester-6</a></h3>
                <p>BTCSE 605 Computer Networks Lab </p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem6/Departmental Elective –II (Data Mining )"><img src="/assets/img/dm.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem6/Departmental Elective –II (Data Mining )">Semester-6</a></h3>
                <p>BTCSE 606 Departmental Elective –II <br> (Data Mining )</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem6/Departmental Elective – III (Deep Learning and Neural Network)"><img src="/assets/img/dl.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem6/Departmental Elective – III (Deep Learning and Neural Network)">Semester-6</a></h3>
                <p>BTCSE 607 Departmental Elective – III <br> (Deep Learning and Neural Network)</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem6/Open Elective – I (Humanities)"><img src="/assets/img/communication.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem6/Open Elective – I (Humanities)">Semester-6</a></h3>
                <p>BTCSE 608 Open Elective – I (Humanities)</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Courses Section -->
    
  </main><!-- End #main -->
  <%- include('../../partials/courses/end.ejs') %>