<%- include('../../partials/head.ejs') %>
<body>

  <%- include('../../partials/nav.ejs') %>
  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Courses</h2>
        <p>Welcome to the Spectra course page! Here you'll find everything you need to succeed in this course, including textbooks, practice exams, and more.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <a href="sem7/Project – II"><img src="/assets/img/project.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
               
                <h3><a href="sem7/Project – II">Semester-7</a></h3>
                <p>BTCSE 701 Project – II</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <a href="sem7/Biology"><img src="/assets/img/bio.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                <h3><a href="sem7/Biology">Semester-7</a></h3>
                <p>BTCSE 702 Biology </p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem7/IPR and Cyber laws"><img src="/assets/img/law.jpg" class="img-fluid" alt="..."></a> 
              <div class="course-content">
                <h3><a href="sem7/IPR and Cyber laws">Semester-7</a></h3>
                <p>BTCSE 703 IPR and Cyber laws </p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem7/Advanced database Management System"><img src="/assets/img/dbms.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem7/Advanced database Management System">Semester-7</a></h3>
                <p>BTCSE 704 Advanced database Management System</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem7/Departmental Elective – IV"><img src="/assets/img/" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem7/Departmental Elective – IV">Semester-7</a></h3>
                <p>BTCSE 705  Departmental Elective – IV</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem7/Departmental Elective – V"><img src="/assets/img/" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem7/Departmental Elective – V">Semester-7</a></h3>
                <p>BTCSE 706 Departmental Elective – V</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem7/Open Elective – II"><img src="/assets/img/" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem7/Open Elective – II">Semester-7</a></h3>
                <p>BTCSE 707 Open Elective – II</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->
        </div>

      </div>
    </section><!-- End Courses Section -->
    
  </main><!-- End #main -->
  <%- include('../../partials/end.ejs') %>