<%- include('../../partials/head.ejs') %>
<body>

  <%- include('../../partials/nav.ejs') %>
  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Courses</h2>
        <p>Welcome to the Spectra course page! Here you'll find everything you need to succeed in this course, including textbooks, practice exams, and more.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <a href="sem8/Dissertation"><img src="/assets/img/project.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
               
                <h3><a href="sem8/Dissertation">Semester-8</a></h3>
                <p>BTCSE 801 Dissertation </p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <a href="sem8/Departmental Elective –VI"><img src="/assets/img/" class="img-fluid" alt="..."></a>
              <div class="course-content">
                <h3><a href="sem8/Departmental Elective –VI">Semester-8</a></h3>
                <p>BTCSE 802 Departmental Elective –VI </p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem8/Open Elective – III"><img src="/assets/img/" class="img-fluid" alt="..."></a> 
              <div class="course-content">
                <h3><a href="sem8/Open Elective – III">Semester-8</a></h3>
                <p>BTCSE 803 Open Elective – III </p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="sem8/Open Elective – IV"><img src="/assets/img/" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="sem8/Open Elective – IV">Semester-8</a></h3>
                <p>BTCSE 804 Open Elective – IV</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->
        </div>

      </div>
    </section><!-- End Courses Section -->
    
  </main><!-- End #main -->
  <%- include('../../partials/end.ejs') %>