<%- include('../partials/head.ejs') %>
<body>

  <%- include('../partials/nav.ejs') %>

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <% if (errorMessage.length != 0 ) { %>
        <h2 class="user-error-message"><%= errorMessage %></h2>
        <% } else { %>
        <h2>Courses</h2>
        <% } %>
        <p>Welcome to the Spectra course page! Here you'll find everything you need to succeed in this course, including textbooks, practice exams, and more.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <a href="/course/Btech-CSE"><img src="assets/img/course-1.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
               
                <h3><a href="/course/Btech-CSE">B.TECH</a></h3>
                <p>Computer Science and Engineering</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <a href="/course/btech-ECE"><img src="assets/img/course-2.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                

                <h3><a href="/course/btech-ECE">B.TECH</a></h3>
                <p>Electronics and Communications Engineering</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="/course/btech-AI"><img src="assets/img/course-3.jpg" class="img-fluid" alt="..."></a> 
              <div class="course-content">
                
                <h3><a href="/course/btech-AI">B.TECH</a></h3>
                <p>Artificial Intelligence</p>
               
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <a href="/course/bca"><img src="assets/img/course-4.jpg" class="img-fluid" alt="..."></a>
              <div class="course-content">
                
                <h3><a href="/course/bca">BCA</a></h3>
                
               
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Courses Section -->
    
  </main><!-- End #main -->

  <%- include('../partials/end.ejs') %>