<%- include('../partials/head.ejs') %>
<body>

  <%- include('../partials/nav.ejs') %>
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>It's not just about ideas it's about making ideas happen!</h2>
      <a href="/courses" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Welcome to Spectra, our college website of study material!</h3>
            <p class="fst-italic">
              We are dedicated to providing students with high-quality, comprehensive notes to aid in their academic success and ensuring that they are both accurate and easy to understand.Whether you're looking for study material we've got you covered.
              We worked to create comprehensive study material that cover all of the important concepts and information that students need to know for their classes.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Our website is user-friendly and easy to navigate, allowing you to quickly find the study material you need for your courses.</li>
              <li><i class="bi bi-check-circle"></i> Our goal is to support you in achieving your academic goals and reaching your full potential.</li>
              <li><i class="bi bi-check-circle"></i> We want students to feel confident and well-prepared as they work towards their academic goals.</li>
              <li><i class="bi bi-check-circle"></i>At our college website for notes, we are committed to providing high-quality, comprehensive resources to support students on their academic journey. </li>
              
            </ul>
            <p>
              Thank you for choosing our college website of study material. We're excited to be a part of your academic journey!
              We believe that every student deserves access to the best possible education, and we're proud to be a part of that mission.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="<%= numOfUsers %>" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

  </main><!-- End #main -->

  <%- include('../partials/end.ejs') %>