<%- include('../partials/head.ejs') %>
<body>

  <%- include('../partials/nav.ejs') %>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Tools</h2>
        <p>Here you will find the useful tools that are mostly required in the course </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/events-1.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a  href="https://todo.microsoft.com/" target="_blank">Microsoft To Do</a></h5>
                <p class="fst-italic text-center">Microsoft To Do is a simple and intelligent to-do list that helps you manage all your tasks in one place.</p>
                <ul class="card-text">
                  <li>Bring Your Calendar and Tasks Lists Together.</li>
                  <li>Create Tasks From Your Email.</li>
                  <li>Keep Track of Your Tasks Within Teams.</li>
                  <li>Find Anything Fast With Hashtags.</li>
                  <li>Focus by Using the My Day List.</li>
                </ul> 
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/news_img.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="https://epaper.hindustantimes.com/Home/IndexCN" target="_blank">Daily News</a></h5>
                <p class="fst-italic text-center">HindustanTimes E-Paper</p>
                <ul class="card-text">
                  <li>Strengthens reading , writing skills, improves Vocabulary Skills, makes them a Good Speaker.</li>
                  <li>Provides entertainment & sports news.</li>
                  <li>Best source of General knowledge.</li>
                  <li>Get up-to-date with politics.</li>
                  <li>Useful ideas about researches & projects.</li>
                </ul> 
               
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Events Section -->

  </main><!-- End #main -->

  <%- include('../partials/end.ejs') %>